body {
  background-color: crimson;
  color: white;
}

#SiteTitle {
  color: DodgerBlue;
}

section {
  float: right;
  width: 25%;
  background-color: gold;
}

#TECnodecar {
  float:left;
  width: 40%;
}

#Picture1Caption
{
  clear:both;
}

  #TECnodeMascotLogo
{
  width:20%
}
body
{
    animation-name: example;
    animation-duration: 10s;
  animation-iteration-count: infinite;
}
  /* Standard syntax */
@keyframes example {
    0%   {background-color: red;}
    15%  {background-color: orange;}
    30%  {background-color: yellow;}
    45% {background-color: green;}
    60%  {background-color: aqua;}
     75%  {background-color: blue;}
    90%  {background-color:purple;}
    100% {background-color:black;}
    
}
  
